{% extends "SioSemiBundle::layout.html.twig" %}

{% block title "les participant" %} 

{% block content %}

<h1> connectez-vous svp </h1>
{{ form (login) }}	
	
{% endblock %}

{% set code = code(_self) %}