{% extends "SioSemiBundle::layout.html.twig" %}

{% block title "les participant" %} 

{% block content %}
	    
			<h1> nombre de participant : {{nombreParticipants}} </h1>
		
{% endblock %}


{% set code = code(_self) %}