{% extends "SioSemiBundle::layout.html.twig" %}

{% block title "les participant" %} 

{% block content %}

<div class="box inscription">
{{ form (validationMail) }}
</div>
{% endblock %}

{% set code = code(_self) %}